.home-page {
  .header-section {
    @include big-screen {
      padding-bottom: 200px;
    }
  }
  .hero-img {
    padding-top: 60%;
    @include laptop {
      padding-top: 300px;
    }
    img {
      top: -25%;
      width: 150%;

      @include laptop {
        transform: translateX(-10%);
        width: 175%;
      }
    }
  }
  .image-with-text {
    & > div {
      width: 100%;
      @include laptop {
        width: 50%;
      }
    }
    &--text {
      width: 100%;
      @include laptop {
        width: 60%;
      }
      h6 {
        letter-spacing: 4px;
      }
    }
  }
}
