.navbar {
  background-color: $black-transparent;
}

.nav-item {
  padding: 8px 15px;
  .dropdown {
    &-menu {
      background-color: $dark-grey;
      border: none;
    }
  }
}

.navigation {
  &-logo {
    img {
      width: 140px;
      @include laptop {
        width: 220px;
      }
    }
  }
}

.search-results {
  overflow-y: scroll;
  max-height: 70vh;
  top: 40px;
  @include tablet {
    top: 50px;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
