@import "./styles/variables.scss";
@import "./styles/colors.scss";
@import "./styles/custom.scss";

@import "./components/navigation/navigation.scss";
@import "./components/home-page/home-page.scss";
@import "./components//discovery/discovery.scss";
@import "./components/details/details.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//font-family
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  font-family: "Lato", sans-serif;
}

//general
body {
  background-color: $black;
  overflow-x: hidden;
}

@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
  main {
    padding-top: 10px;
  }
}

.section {
  margin: 20px 0px;
  @include tablet {
    margin: 40px 0px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.favorites-true {
  color: rgb(205, 188, 38);
}

.favorite {
  &-true {
    svg {
      color: rgb(205, 188, 38);
    }

    &:hover {
      svg {
        color: rgb(227, 208, 41);
      }
    }
  }
  &-false {
    svg {
      color: $light-grey;
    }

    &:hover {
      svg {
        color: whitesmoke;
      }
    }
  }
}
