.filter-window {
  top: 35px;
  left: 0;
  transform: translateX(-50%);
  width: 360px;
  min-height: 200px;
  z-index: 3;
}

.option {
  width: 47%;
  &:hover {
    color: white !important;
  }
  &.active {
    background-color: $secondary;
    color: white !important;
  }
}

.movie-card {
  width: 200px;
  height: 300px;
  .fav-icon {
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    z-index: 2;
    svg {
      transition: color 0.15s;
    }
  }
}
