.filter-window {
  top: 45px;
  right: 0;
  width: 300px;
  min-height: 200px;
  z-index: 2;
}

.movie-card {
  width: 200px;
  height: 300px;
  svg {
    top: 5px;
    left: 5px;
    z-index: 2;
    color: $light-grey;
    transition: color 0.15s;
    &:hover {
      color: whitesmoke;
    }
  }
}
